$background-color: #fff;
$primary-color: #6d3dda;
$secondary-color: #836eb4;
$primary-color-light: #b8abd4;
$text-color: #464544;
$icon-color: #92918e;
$background-color-light: #f1f0ed;
$text-color-light: #8b8b8a;
$color-error: red;
$text-color-white: #ffff;
$background-color-login: #eae5f7a9;
$text-color-dark: #0000009f;
$text-color-gray: #3636368c;
$bg-color-dark: #c7c7c7;
$bg-color-light: #e6e6e6;
$bg-form-color: #836eb479;
$text-color-create-post: #ffff;
